<!--

<ion-view title="Margin Optimizer">
    <busyspinner spinnerhide="spinnerhide"></busyspinner>
    <span ng-show="spinnerhide">
        <ion-content class="has-header has-subheader">
            <filterbuttonbar filterbuttons="filterButtons"></filterbuttonbar>
            <span ng-repeat="section in categories.Food.sections  | orderBy:'section_priority'">
                <menuengineering
itemlist section="section" hidemore="false"
                                         itemdisplaylimit="3"
                                         sortingclass="userSortingClass()"></menuengineering
itemlist>
            </span>
    </ion-content>
    </span>
</ion-view>-->
<ion-view view-title="Menu Engineering">
    <ion-nav-buttons side="secondary">

        <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBarMenuEng()">
        </button>
        
    </ion-nav-buttons>
<menuengineeringtab menutype="'Food'"></menuengineeringtab></ion-view>