<!--

<ion-view title="Margin Optimizer">
    <busyspinner spinnerhide="spinnerhide"></busyspinner>
    <span ng-show="spinnerhide">
        <ion-content class="has-header has-subheader">
            <filterbuttonbar filterbuttons="filterButtons"></filterbuttonbar>
            <span ng-repeat="section in categories.Liquor.sections  | orderBy:'section_priority'">
                <menuengineering
itemlist section="section" hidemore="false"
                                         itemdisplaylimit="3"
                                         sortingclass="userSortingClass()"></menuengineering
itemlist>
            </span>
    </ion-content>
    </span>
</ion-view>-->


<menuengineeringtab menutype="'Liquor'"></menuengineeringtab>