<ion-view title="{{ section.sectionName | titleCase  }}" ng-controller="MenuEngineeringSectionScreenCtrl">
    <backbuttonbar navbartitle="navBarTitle"></backbuttonbar>
    <busyspinner spinnerhide="spinnerHide"></busyspinner>
    <span ng-show="spinnerHide">
    <tasksfloatbutton></tasksfloatbutton>
    <ion-content class="has-header">

        <filterbuttonbar filterbuttons="filterButtons"></filterbuttonbar>
        <span>
        <menuengineeringsection section="section" hidemore="true"
                                 itemdisplaylimit="9999"
                                 sortingclass="userSortingClass()"></menuengineeringsection>
        </span>
    </ion-content>
    </span>
</ion-view>
