<ion-view view-title="Liquor Wastage detail" ng-init="initializeView();">
    <ion-content>
      <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
        <div class="card">
            <isb-line-chart data="chartData" horizontal-axis-labels="chartDates"
            legend-labels="seriesLabels" title="chartTitle"></isb-line-chart>
        </div>
        <div class="card">
            <div class="item item-divider app-theme-color app-theme-text">
            {{tableLiquorTitle[number-1].name}} wastage
            </div>
            <div class="row" ng-repeat="item in chartItems">

    		 <div class="col col-50"><b>{{ item.detail[number-1].time}}</b></div>
    		  <div class="col col-50">{{ item.detail[number-1].amount}}</div>
    		</div>
        </div>
  <ion-content>
</ion-view>
