<ion-view title="{{pageTitle}}" ng-init="initPw()" ng-controller="UserSettingsCtrl">
    <backbuttonbar navbartitle="navBarTitle"></backbuttonbar>

    <ion-content class="has-header has-subheader padding">
        <form class="" name="changePwForm">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="password" placeholder="Old Password" ng-model="userPw.oldPw" required>
                </label>
                <label class="item item-input">
                    <input type="password" name="newPw"  placeholder="New Password" ng-model="userPw.newPw" required>
                </label>
                <label class="item item-input">
                    <input type="password" name="confPw" placeholder="Confirm Password" ng-model="userPw.confPw" required compare-to="userPw.newPw">
                   
                    
                </label>
                <!-- <div ng-messages="changePwForm.confPw.$error"
                ng-messages-include="messages.html"></div> -->
                <div ng-messages="changePwForm.confPw.$error" role="alert">
                    <!-- <div ng-message="required">Please enter a value for this field.</div> -->
                    <div ng-message="compareTo" style="color: red;">Must match the previous entry</div>                    
                </div>

               
            </div>
            <button class="button button-full app-theme-color app-theme-text" ng-click="saveChangePw(userPw)" ng-disabled="changePwForm.$invalid">
                Save
            </button>
        </form>
       
    </ion-content>



    <!-- <div class="bar bar-footer">
        <button class="full-width-button app-theme-color app-theme-text" ng-click="saveChangePw(userPw.oldPw,userPw.newPw)">
            Save
        </button>
    </div> -->
</ion-view>
