<ion-view title="{{pageTitle}}" ng-init="init()" ng-controller="UserSettingsCtrl">
    <backbuttonbar navbartitle="navBarTitle"></backbuttonbar>
    <busyspinner spinnerhide="spinnerHide"></busyspinner>
    <span ng-if="spinnerHide">
    <div class="bar bar-subheader app-theme-color-level2 no-vertical-padding no-horizontal-padding">
        <div class="app-theme-color-level2">
            <div class="row">
                <div class="col col-center no-vertical-padding">
                    <span ng-repeat="message in saveStatus track by $index" class="{{ message.level }}"> {{ message.text }}</span>
                </div>
            </div>
        </div>
        <div class="app-theme-color-level2">
            <div class="app-theme-color-level2" style="text-align: center" ng-click="showStores()">
                <span class="col-center"> <i class="icon x-large ion-location"> </i>&nbsp&nbsp</span>
                <span class="col-center justbolder">{{ storeSelected.text }}
                </span>
                <span class="col-center">&nbsp&nbsp<i class="icon col-center" ng-class="dropdown_click? 'ion-arrow-up-b':'ion-arrow-down-b'"></i></span>
            </div>
        </div>
    </div>

    <ion-content class="has-header has-subheader" style="top: 100px; bottom: 44px;">
        <ion-list>
            <span ng-repeat="user in users">
                <ion-item class="no-padding" ui-sref="{{ ::user.userLink }}">
                    <div class="row">
                        <div class="col col-50">
                            {{ ::(user.first_name + " " + user.middle_name + " " + user.last_name) }}
                            <div class="small-info">{{ ::(user.created_on | convertDateToText) }}</div>
                        </div>
                        <div class="col col-50">
                            {{ user.job_code_names }}
                        </div>
                    </div>
                    <!--<div class="row">-->
                        <!--<div class="col col-50">-->
                            <!--{{ user.created_on | convertDateToText }}-->
                        <!--</div>-->
                        <!--&lt;!&ndash;<div class="col col-50">&ndash;&gt;-->
                            <!--&lt;!&ndash;{{ user.permissions_role }}&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>     &ndash;&gt;-->
                    <!--</div>-->
                </ion-item>
            </span>
        </ion-list>



    </ion-content>

    <button title="Add Store" class="button button-bal icon ion-person-add float-button button-fab-bottom-right" ng-click="createUser()" fab>
    </button>
    <!--<ion-footer-bar  align-title="left" >-->
    <!--<div class="row app-theme-color" ng-click="createUser()">-->
    <!--<div style=" margin-left: auto; margin-right: auto; display: block;" class="app-theme-text">-->
    <!--Create User-->
    <!--</div>-->
    <!--</div>-->

    <!--</ion-footer-bar>-->
    </span>
</ion-view>
