
 <ion-view title="Set Password" align-title="Left" ng-controller="forgotPwCtrl">
    <backbuttonbar navbartitle="navBarTitle"></backbuttonbar>
    <div class="title title-center header-item">Set Your Password</div>
    <!-- <busyspinner spinnerhide="spinnerHide"></busyspinner>
    <span ng-if="spinnerHide"> -->


    <!-- <ion-content class="has-header has-subheader" style="top: 100px; bottom: 44px;"> -->
    <ion-content class="has-header has-subheader padding" >

     <h3 class="text-center">Set Your Password</h3> 
        <form name="setPw">

            <div class="list list-inset">
                <label class="item item-input"  ng-class="{ 'has-error' : setPw.password.$invalid}">
                    <!-- <input class="form-control" type="text" name="password" placeholder="Password"  ng-model="reset.password" /> -->
                     <span   class="input-label">Password :</span>
                    <input ng-model="reset.password" type="password" name="password" placeholder="Password" required><br>
                </label>
                <!--<div class="form-errors" ng-messages="setPw.password.$error" >
                  <div class="form-error" ng-message="minlength">This field is must be at least 5 characters.</div>
                  <div class="form-error" ng-message="maxlength">This field is must be less than 50 characters</div>
                </div>-->
                <label class="item item-input"  ng-class="{ 'has-error' : setPw.verify.$invalid}">
                    <!-- <input class="form-control" placeholder="Confirm Password" type="password" name="passwordConfirmation" required ng-model="reset.confirmPassword" nx-equal-ex="reset.password"/> -->
                     <span class="input-label">Confirm Password :</span>
                    <input ng-model="reset.confirmPassword" type="password" name="verify" placeholder="Confirm Password" required nx-equal-ex="reset.password"><br>
                </label>
                <!--<div class="form-errors" ng-messages="setPw.verify.$error " >
                    
                  <div class="form-error" ng-message="minlength">This field is must be at least 5 characters.</div>
                  <div class="form-error" ng-message="maxlength">This field is must be less than 50 characters</div>
                </div>-->
                <div class="error" ng-show="setPw.verify.$error.nxEqualEx" style="color: #ff1744;">Passwords do not match.</div>
                <!-- <span ng-show="setPw.passwordConfirmation.$error.match" style="color: #ff1744;">Passwords do not match.</span> -->

                <!-- <span ng-if="matchPasswords">Passwords do not match.</span>          -->
            </div>
            <button class="button button-full app-theme-color app-theme-text" ng-click="setPassword(reset.password)" ng-disabled="setPw.$invalid">
                Submit
            </button>






            
       





        </form>
    </ion-content>
</ion-view>
