<ion-view title="{{pageTitle}}" ng-init="initializeView();">
  <backbuttonbar navbartitle="navBarTitle"></backbuttonbar>
  <div class="bar bar-subheader bar-stable app-theme-color app-theme-text">
  <h3 class="title">{{item_name}} Details</h3>
  </div>
  <ion-content>
    <div class = "card">
    </div>
    <form name="myForm" novalidate>
        <div class="list">
          <ion-item ng-repeat="item in dict_detail">
            <div class="row">
              <div class="form-group col col-40">
                <div class="list">
                  <label class="item item-input">
                    <span class="input-label">{{item.key}} </span>
                  </label>
                </div>
              </div>
              <div class="form-group col col-40">
                <label class="item item-input">
                  <span class="input-label"></span>
                  <input rownum='{{$index}}' id='{{item.key}}' type="number" name="{{item.key}} " ng-model="item.value1" required>
                </label>
              </div>
            </div>
          </ion-item>
        </div>
        <div class="padding">
          <button type="button" class="button button-block button-positive" ng-disabled="myForm.$invalid" ng-click="submit()">Submit</button>
        </div>
    </form>
  </ion-content>
</ion-view>
