<ion-view title="{{pageTitle}}" ng-init="initializeView();">
  <backbuttonbar navbartitle="navBarTitle"></backbuttonbar>
  <div class="bar bar-subheader bar-stable app-theme-color app-theme-text">
    <h3 class="title">Labor Costs Details</h3>
  </div>
  <ion-content view-title="Fixed Costs Details">
    <div class="card">
    </div>
    <div class="row row center">
        <div class="col text-center">
        <h4>Name</h4>
        </div>
        <div class="col text-center">
        <h4>Role</h4>
        </div>
        <div class="col text-center">
        <h4>Pay</h4>
        </div>
    </div>
    <ion-item ng-repeat="item in employeeData" ui-sref="app.laborCostDetail({id:item.id, name:item.employee_name})">
        <div class="row row center">
          <div class="col text-center">
          <h3>{{item.employee_name}}</h3>
          </div>
          <div class="col text-center">
          <h3>{{item.employee_role}}</h3>
          </div>
          <div class="col text-center">
          <h3>{{item.employee_pay}}</h3>
          </div>
        </div>
    </ion-item>
  </ion-content>
</ion-view>
