<ion-view view-title="" ng-init="initializeView();">
  <ion-content>
    <ion-list>
      <ion-item class="col col-center">
    <ion-item class="row row-center button-icon icon ion-upload" ui-sref="app.documentUpload"
        ng-click="documentUploadClickHandler()">
    Upload Document
    </ion-item>

    <ion-item class="row row-center button-icon icon ion-upload" ui-sref="app.fixedCosts"
        ng-click="fixedCostsClickHandler()">
    Fixed Costs
    </ion-item>

    <ion-item class="row row-center button-icon icon ion-upload" ui-sref="app.laborCosts"
        ng-click="laborCostsClickHandler()">
    Labor Costs
    </ion-item>
</ion-item>
  </ion-list>

    </ion-content>
  </ion-view>
