<ion-view view-title="Receipe item">


    <ion-content>

        <div class="card">
            <div class="item item-divider app-theme-color app-theme-text">
                Supplier Options
            </div>
            <div class="item item-divider">
                Current Cost : $2.50
            </div>

            <div class="item">
                <div class="row">
                        <div class="button-bar">
                            <a class="button button-stable">Greco
                            <br>
                            $2.00
                            </a>
                            <a class="button button-stable">Sysco
                            <br>
                            $2.30
                            </a>
                            <a class="button button-stable">Grecian
                            <br>
                            $2.50
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </ion-content>
</ion-view>