<ion-view view-title="Menu Performance Detail" ng-init="onMenuItemInit()" ng-controller="MenuPerformanceOptimizerCtrl">
    <button class="button button-positive icon ion-clipboard float-button button-fab-bottom-right"
            ui-sref="app.dashboard.tasks()" fab>
        <!--<div style="font-size:xx-small;margin-top:-8px;">Dashboard</div>-->
    </button>

    <backbuttonbar navbartitle="navBarTitle"></backbuttonbar>
    <busyspinner spinnerhide="spinnerhide"></busyspinner>
    <div ng-show="spinnerhide">
        <button class="button button-positive icon ion-clipboard float-button button-fab-bottom-right"
                ui-sref="app.dashboard.tasks()" fab>
            <!--<div style="font-size:xx-small;margin-top:-8px;">Dashboard</div>-->
        </button>
        <ion-content>
            <ion-list>
                <menuperformanceitem item="menuitem" detaillink="false" ifeven="true"></menuperformanceitem>
            </ion-list>
            <!--<div class="card">-->
                <!--<div class="item item-divider"> Sales Performance</div>-->
                <!--<div class="item item-text-wrap">-->
                    <!--<canvas id="perfcost" class="chart chart-line" chart-data="performanceData.sales"-->
                            <!--chart-labels="performanceData.labels" chart-legend="false"-->
                            <!--chart-series="performanceData.series" chart-options="{showTooltips: false}"></canvas>-->
                <!--</div>-->
            <!--</div>-->
        </ion-content>
    </div>
</ion-view>