
<ion-list>
<div class="invoice-list-top">
    <div class="card tracking-top" >
         <div style="padding-top: 10px " ng-hide="dataReceived">
        <div ng-repeat="item in (invoices | filter:byFilterName() | orderBy:getSortingClass())  as filteredInvoices"
           on-finish-render="ngRepeatFinished" class="card"  ng-if="defaultView" ng-if="!item.searchHidden">
            <ion-item id="inv-list_{{item.invoice_id}}" class="invoice-tacking-padding">
                <div class="row" ng-click="goToInvoiceDetail(item)" >
                    <div class="col col-33 item-text-wrap" style="text-align:left">
                        <span class="invoice-data-first invoice-font-dark"> {{ item.supplier_name}} </span>
                        <span class="invoice-data">{{item.invoice_id}}</span>
                    </div>
                    <div class="col col-60" style="text-align:right">
                        <!-- <span class="invoice-data-first invoice-data">Total Cost: $ {{item.total_cost | number : 2}}  </span> -->
                        <span class="invoice-data-first invoice-data invoice-total-cost">$ {{item.total_cost | number : 2}}  </span>
                        <span class="invoice-data">Date: {{item.date  * 1000 | date:'MM-dd-yyyy'}}</span>
                        <span class="invoice-data" ng-if="item.due_date != 0">Due date: {{item.due_date  * 1000 | date:'MM-dd-yyyy'}}</span>
                    </div>
                </div>
                <div class="col col-5 error-reporting-center"
                     ng-click="showReportPopover($event, 'invoice-tracking-item')" style="float: right;">
                    <i class="icon larger ion-android-more-vertical"></i>
                </div>
                <ion-option-button class="button-outline icon"
                                   ng-class="item.paid_or_not ?'button-assertive ion-android-cancel' : 'button-balanced ion-checkmark-circled'"
                                   ng-click="toggleActionTaken(item)">
                </ion-option-button>
            </ion-item>
        </div>
    </div>
    </div>
</div>
</ion-list>


<div ng-repeat="item in groupedList" ng-if="!defaultView">
    <div style="width: 100%; padding: 16px 16px 16px 10px;display: flex; flex-flow: row; justify-content: flex-start;" class="item-divider" ng-click="toggleGroup(item)">
        <i class="icon  icon-left" ng-class="item.isExpanded ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i> &nbsp
        <div style="font-size: 15px" ng-if="item.type == 'supplier_name'">{{item.name}}</div>
        <div style="font-size: 15px" ng-if="item.type == 'due_date' || item.type == 'date'">{{item.name * 1000 | date :  'MM-dd-yyyy'}}</div>
        <div style="margin-left: auto;">{{(item.totalValue||0) | currency}}</div>
    </div>
    <ion-list class="sub-list paddingzero" ng-if="item.isExpanded">
        <ion-item ng-repeat="inv in item.invoices" class="invoice-detail-items" on-finish-render="finishedInvoiceRender" item-height="100" item-width="100%">
            <div class="row" ng-click="goToInvoiceDetail(inv)" >
                <div class="col col-33 item-text-wrap" style="text-align:left">
                    <span class="invoice-data-first font-dark"> {{ inv.supplier_name}} </span>
                    <span class="invoice-data">{{inv.invoice_id}}</span>
                </div>
                <div class="col col-60" style="text-align:right">
                    <span class="invoice-data-first invoice-data">Total Cost: $ {{inv.total_cost | number : 2}}  </span>
                    <span class="invoice-data">Date: {{inv.date  * 1000 | date:'MM-dd-yyyy'}}</span>
                    <span class="invoice-data" ng-if="inv.due_date != 0">Due date: {{inv.due_date  * 1000 | date:'MM-dd-yyyy'}}</span>
                </div>
            </div>
            <div class="col col-5 error-reporting-center"
                 ng-click="showReportPopover($event, 'invoice-tracking-item')" style="float: right;">
                <i class="icon larger ion-android-more-vertical"></i>
            </div>
            <ion-option-button class="button-outline icon"
                               ng-class="inv.paid_or_not ?'button-assertive ion-android-cancel' : 'button-balanced ion-checkmark-circled'"
                               ng-click="toggleActionTaken(inv)">
            </ion-option-button>
        </ion-item>
    </ion-list>
    <!-- <ion-list ng-if="item.isExpanded">
        <div class="invoice-list-top">
            <div class="card tracking-top" >
                <div ng-repeat="inv in item.invoices"
                   on-finish-render="ngRepeatFinished" class="card"  ng-if="!defaultView">
                    <ion-item class="white-back-ground invoice-tacking-padding">
                        <div class="row" ng-click="goToInvoiceDetail(inv)" >
                            <div class="col col-33 item-text-wrap" style="text-align:left">
                                <span class="invoice-data-first font-dark"> {{ inv.supplier_name}} </span>
                                <span class="invoice-data">{{inv.invoice_id}}</span>
                            </div>
                            <div class="col col-60" style="text-align:right">
                                <span class="invoice-data-first invoice-data">Total Cost: $ {{inv.total_cost | number : 2}}  </span>
                                <span class="invoice-data">Date: {{inv.date  * 1000 | date:'MM-dd-yyyy'}}</span>
                                <span class="invoice-data" ng-if="inv.due_date != 0">Due date: {{inv.due_date  * 1000 | date:'MM-dd-yyyy'}}</span>
                            </div>
                        </div>
                        <div class="col col-5 error-reporting-center"
                             ng-click="showReportPopover($event, 'invoice-tracking-item')" style="float: right;">
                            <i class="icon larger ion-android-more-vertical"></i>
                        </div>
                        <ion-option-button class="button-outline icon"
                                           ng-class="inv.paid_or_not ?'button-assertive ion-android-cancel' : 'button-balanced ion-checkmark-circled'"
                                           ng-click="toggleActionTaken(inv)">
                        </ion-option-button>
                    </ion-item>
                </div>
            </div>
        </div>
    </ion-list> -->
</div>
<!-- <div ng-show="activeDataNotReceived" style="text-align: center; vertical-align:middle; line-height: 300px;display: inline-block;color: #add8e6;height: 300px;width:300px;white-space: nowrap;font-size: 30px;"><b>No data available</b>
</div> -->


<script id="image-modal.html" type="text/ng-template">
    <ion-popover-view style="height: 100% !important; width: auto !important; margin-top:0px;">
        <button class="button button-stable" ng-click="errorReporting()">Report</button>
    </ion-popover-view>
</script>
