<ion-view title="{{pageTitle}}" ng-init="init()">
    <div class="bar bar-subheader bar-stable app-theme-color app-theme-text">
        <div class="buttons" ng-show="items.length>0">
            <button class="button button-icon icon ion-ios-minus-outline" ng-click="buttons.ShowDelete = !buttons.ShowDelete;"></button>
        </div>
        <h3 class="title">Alerts</h3>
    </div>
    <ion-content class="has-subheader">

        <ion-list can-swipe="buttons.listCanSwipe" show-delete="buttons.ShowDelete">
            <!--show-reorder="shouldShowReorder">-->
            <ion-item ng-repeat="item in items" ng-class-odd="oddlist" ui-sref="app.costingoptimizermenuitem({flcategory:'{{item.flcategory}}',
                                                                                    mcategory:'{{item.category}}',
                                                                                    menuitem:'{{item.itemid}}'})">

                <div class="row">
                    <div class="col col-75 item-text-wrap"><br>Item: {{item.name}}<br>
                        <div style="color:red;font-size: small;font-weight: 900;">Supplier Price Increase
                        </div>
                        <div style="font-size: small;">Ingredient: Ground Turkey</div>
                    </div>

                    <!--<div class="col col-20">{{item.punit}}{{item.value| number:1}}{{item.tunit}}-->
                    <!--<br>-->
                    <!--<div style="font-size: x-small;">({{item.property}})</div>-->
                    <!--</div>-->
                    <div class="col">
                        <div style="font-size: small;" align="right">Action Taken&nbsp
                            <i class="icon" ng-class="item.actiontaken ? 'ion-android-done greenflag' : 'ion-android-cancel redflag'" style="font-size: medium;"></i>

                            <div class="redflag" align="left">35% Food Cost</div>
                            <div class="redflag" align="left" style="color:red;font-size: small;font-weight: 900;">
                                <i class="icon ion-arrow-up-b redflag"> $0.60/LB</i></div>
                        </div>
                    </div>
                </div>
                <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
                </ion-delete-button>
                <!--<ion-reorder-button class="ion-navicon"-->
                <!--on-reorder="reorderItem(item, $fromIndex, $toIndex)">-->
                <!--</ion-reorder-button>-->
                <ion-option-button class="button-outline icon" ng-class="item.actiontaken ? 'button-assertive ion-android-cancel' : 'button-balanced ion-checkmark-circled'" ng-click="toggledone($index)"></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
