<!-- <div ui-grid="row.entity.subGridOptions" style="height:150px;">
	
<button>Map Supplier Item</button>
</div> -->

<div ui-grid="row.entity.subGridOptions">
	<button>Map Supplier Item</button>
</div>
<!-- <div>
   <div ng-if="row.entity.merge && colContainer.name == 'left'">{{row.entity.title}}</div>
   <div ng-if="row.entity.merge && colContainer.name == 'body'">{{row.entity.bodyTitle}}</div>
   <div ng-if="!row.entity.merge" ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.colDef.name" class="ui-grid-cell" ng-class="{ 'ui-grid-row-header-cell': col.isRowHeader }"  ui-grid-cell></div>
</div> -->