<div class="row" ng-click="isCogsData && ctrl.nodeData.item_name!='Adjustment to COGS' && showItemSummary(ctrl.nodeData)" >
	<div ng-class = "(isCogsData == true) ? 'col col-40  text-control ': 'col col-40  text-control'" ng-modal= "ctrl.nodeData.item_name" ng-if="ctrl.nodeData.item_name!='empty'">
		{{ctrl.nodeData.item_name| titleCase}}
	</div>
	<div ng-class = "(isCogsData == true) ? 'col col-20 ' : 'col col-20'" ng-if="ctrl.nodeData.item_name!='empty'">
		{{ctrl.nodeData.value | currency:undefined:0}}
	</div>
	<div ng-class = "(isCogsData == true) ? 'col col-20 ' : 'col col-20'" ng-if="ctrl.nodeData.item_name!='empty'">
		{{ctrl.nodeData.budget | currency:undefined:0}}
	</div>
	<div ng-class = "(isCogsData == true) ? 'col col-20 ' : 'col col-20'" ng-if="ctrl.nodeData.item_name!='empty'">
		{{ctrl.nodeData.percentage}}%
	</div>
<!-- <div style="padding: 16px 16px 10px 10px; display: flex; flex-flow: row;align-items: center; justify-content: space-between;" >
        <div style="flex-basis:{{ ctrl.rowSize.budget }}%; flex-shrink: 0; flex-grow: 1; white-space: normal; text-transform:capitalize;" ng-if="ctrl.nodeData.item_name!='empty'">{{ctrl.nodeData.item_name}}</div>
        <div style="flex-basis: {{ ctrl.rowSize.budget }}%; flex-shrink: 0; flex-grow: 1; text-align:right;" ng-if="ctrl.nodeData.item_name!='empty'">{{ctrl.nodeData.value | currency:undefined:0}}</div>
        <div style="flex-basis: {{ ctrl.rowSize.budget }}%; flex-shrink: 0; flex-grow: 1; text-align:right;" ng-if="ctrl.nodeData.item_name!='empty'">{{ctrl.nodeData.budget | currency:undefined:0}}</div>
        <div style="flex-basis: {{ ctrl.rowSize.budget }}%; flex-shrink: 0; flex-grow: 1; text-align:right;" ng-if="ctrl.nodeData.item_name!='empty'">{{ctrl.nodeData.percentage}}%</div>

        <div style="flex-basis:100%; flex-shrink: 0; flex-grow: 1; text-align:center;" ng-if="ctrl.nodeData.item_name=='empty'">No data available</div>

</div>
 -->
</div>
